<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Home Page</title>
    </head>
    <body>
        <%- include('./partials/nav') %>
        <div class="container mt-3">
            <div class="row row-cols-4">
                <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card"
                        style="border: 1px solid black; min-height: 400px; margin-block: 30px; margin-inline: 10px;"
                        style="width: 18rem; height:18rem; margin-bottom: 2rem;">
                        <img src="<%= blog.coverImageURL %>"
                            style="width: 285px;; border-radius: 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>"
                                class="btn btn-primary"
                                style="margin-bottom: 10px;">View</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <%- include('./partials/scripts') %>
    </body>
</html>